<div class="container mt-3">
  <search-bar
     [Countries]="AllCountries"
     (searchButtonClicked)="ParentFunctionHandlingSearchButton($event)">
    </search-bar>
    <table style="width:100%">
      <tr style="width:100%">
        <td style='min-width: 80%;'>
            <countries [Countries]="FilteredCountries" (countrySelected)="ListeningToSelectedCountry($event)"></countries>
       </td>
        <td style="vertical-align: top;width:20%">
          <country-details [MyCountry]="selectedCountry"></country-details>
        </td>
      </tr>
    </table>

</div>

